config:
  backup: false
  banner: false
  create: true
  dotpath: dotfiles
  ignoreempty: false
  keepdot: false
  longkey: false
  showdiff: false
  workdir: ~/.dotfiles
  import_variables:
  - variables.d/main.yaml

actions:
  pre:
    set-zsh-default-shell: chsh -s $(which zsh)
  post:
    i3-restart: i3-msg restart
    Xresources-refresh: xrdb ~/.Xresources
    refresh-zsh: source ~/.zshrc

trans_read:
  _decrypt: openssl enc -aes-256-cbc -d -pbkdf2 -in {0} -out {1} -pass pass:{{@@ secret_key @@}}
  build-i3-config: for i in {0}/*.i3; do cat $i;printf  "\n{{@@ module_divider @@}}\n"; done >> {1}
  build-polybar-config: for i in {0}/*.ini.j2; do cat $i;printf  "\n{{@@ module_divider @@}}\n"; done >> {1}

trans_write:
  _encrypt: openssl enc -aes-256-cbc -pbkdf2 -in {0} -out {1} -pass pass:{{@@ secret_key @@}}
  split-i3-config: #TODO
  split-polybar-config: #TODO

dotfiles:
  f_ssh_key_private:
    dst: ~/.ssh/id_rsa
    src: ssh/id_rsa
    trans_read: _decrypt
    trans_write: _encrypt
  f_ssh_key_public:
    dst: ~/.ssh/id_rsa.pub
    src: ssh/id_rsa.pub
    trans_read: _decrypt
    trans_write: _encrypt
  d_scripts:
    dst: ~/.scripts
    src: scripts
  f_profile:
    dst: ~/.profile
    src: profile
  f_cronjobs:
    dst: ~/.cronjobs
    src: .cronjobs
  d_Xresources:
    dst: ~/.Xresources.d
    src: Xresources/.Xresources.d
    actions:
      - Xresources-refresh
      - i3-restart
  f_Xresources:
    dst: ~/.Xresources
    src: Xresources/.Xresources
    actions:
      - Xresources-refresh
      - i3-restart
  f_zshrc:
    dst: ~/.zshrc
    src: zsh/.zshrc
    actions:
      - set-zsh-default-shell
      - refresh-zsh
  f_zsh-theme:
    dst: ~/.oh-my-zsh/themes/disconnect.zsh-theme
    src: zsh/disconnect.zsh-theme
  d_wal-templates:
    dst: ~/.config/wal/templates
    src: wal
  f_compton:
    dst: ~/.config/compton/compton.conf
    src: compton.conf
  f_rofi:
    dst: ~/.config/rofi/disconnect.rasi
    src: rofi.rasi
  f_i3:
    dst: ~/.config/i3/config
    src: i3
    actions:
    - i3-restart
    trans_read: build-i3-config
    trans_write: split-i3-config
  d_polybar:
    dst: "{{@@ polybar_scripts_path @@}}"
    src: polybar/scripts
  f_polybar:
    dst: ~/.config/polybar/config
    src: polybar/configs
    trans_read: build-polybar-config
    trans_write: split-polybar-config
  f_dunst:
    dst: ~/.config/dunst/dunstrc
    src: dunstrc
    
profiles:
  disconnect:
    dotfiles:
    - f_ssh_key_private
    - f_ssh_key_public
    - f_profile
    - f_cronjobs
    - d_Xresources
    - f_Xresources
    - d_scripts
    - f_zshrc
    - f_zsh-theme
    - d_wal-templates
    - f_compton
    - f_rofi
    - f_i3
    - d_polybar
    - f_polybar
    - f_dunst