config:
  backup: false
  banner: false
  create: true
  dotpath: dotfiles
  ignoreempty: false
  keepdot: false
  longkey: false
  showdiff: false
  workdir: ~/.dotfiles
  cmpignore:
  - '**/README.md'
  upignore:
  - '**/README.md'
  instignore:
  - '**/README.md'
  import_variables:
  - variables.yaml

actions:
  pre:
    set-zsh-default-shell: chsh -s $(which zsh)
  post:
    i3-restart: i3-msg restart
    Xresources-restart: xrdb ~/.Xresources
    restart-zsh: source ~/.zshrc
    restart-picom: pkill picom;picom -b -c --config {{@@ _dotfile_abs_dst @@}}

trans_read:
  _decrypt: openssl enc -aes-256-cbc -d -pbkdf2 -in {0} -out {1} -pass pass:{{@@ secret_key @@}}
  build-polybar: mkdir {1}; touch {1}/config; for i in {0}/configs/*.ini.j2; do cat $i;printf  "\n{{@@ module_divider @@}}\n"; done >> {1}/config; cp -rf {0}/scripts {1}/scripts
  build-config: for i in {0}/*.conf; do cat $i;printf  "\n{{@@ module_divider @@}}\n";done >> {1}

trans_write:
  _encrypt: openssl enc -aes-256-cbc -pbkdf2 -in {0} -out {1} -pass pass:{{@@ secret_key @@}}

dotfiles:
  f_ssh_key_private:
    dst: ~/.ssh/id_rsa
    src: ssh/id_rsa
    trans_read: _decrypt
    trans_write: _encrypt
    chmod: '600'
  f_ssh_key_public:
    dst: ~/.ssh/id_rsa.pub
    src: ssh/id_rsa.pub
    trans_read: _decrypt
    trans_write: _encrypt
    chmod: '600'
  f_ssh_config:
    dst: ~/.ssh/config
    src: ssh/config
  d_scripts:
    dst: ~/.scripts
    src: scripts
  f_cronjobs:
    dst: ~/.cronjobs
    src: cronjobs/.cronjobs
  d_Xresources:
    dst: ~/.Xresources.d
    src: Xresources/.Xresources.d
    actions:
    - Xresources-restart
    - i3-restart
  f_Xresources:
    dst: ~/.Xresources
    src: Xresources/.Xresources
    actions:
    - Xresources-restart
    - i3-restart
  f_zshrc:
    dst: ~/.zshrc
    src: zsh/.zshrc
    actions:
    - set-zsh-default-shell
    - restart-zsh
  f_zsh-theme:
    dst: ~/.oh-my-zsh/themes/disconnect.zsh-theme
    src: zsh/disconnect.zsh-theme
  f_picom:
    dst: ~/.config/picom/picom.conf
    src: picom
    actions:
    - restart-picom
    trans_read: build-config
  f_rofi:
    dst: ~/.config/rofi/disconnect.rasi
    src: rofi/rofi.rasi
  f_i3:
    dst: ~/.config/i3/config
    src: i3
    actions:
    - i3-restart
    trans_read: build-config
  d_polybar:
    dst: ~/.config/polybar
    src: polybar
    trans_read: build-polybar
  f_dunst:
    dst: ~/.config/dunst/dunstrc
    src: dunst
    trans_read: build-config
  f_kitty:
    dst: ~/.config/kitty/kitty.conf
    src: kitty
    trans_read: build-config
  d_vscode-user:
    dst: ~/.config/Code - OSS/User
    src: vscode/user
  d_vscode-extensions:
    dst: ~/.vscode-oss/extensions
    src: vscode/extensions

profiles:
  disconnect:
    dotfiles:
    - ALL
