config:
  backup: false
  banner: false
  create: true
  dotpath: dotfiles
  ignoreempty: false
  keepdot: false
  longkey: false
  showdiff: false
  workdir: /home/rappy/.dotfiles
  import_variables:
  - variables.yaml

actions:
  post:
    mkinitcpio: mkinitcpio -p linux
    grub-mkconfig: grub-mkconfig -o /boot/grub/grub.cfg
    ln: "ln -s {0} {1}"

dotfiles:
  d_xsessions:
    dst: /usr/share/xsessions
    src: xsessions
  f_lightdm:
    dst: /etc/lightdm/lightdm.conf
    src: lightdm/lightdm.conf
    actions:
      - ln /usr/local/bin/display-setup.sh /usr/share/lightdm/display-setup.sh
  f_lightdm-webkit2-greeter:
    dst: /etc/lightdm/lightdm-webkit2-greeter.conf
    src: lightdm/lightdm-webkit2-greeter.conf
  d_bin:
    dst: /usr/local/bin
    src: bin/global
  #f_plymounth:
  #  dst: /etc/plymouth/plymouthd.conf
  #  src: plymouth/plymouthd.conf
  f_mkinitcpio:
    dst: /etc/mkinitcpio.conf
    src: mkinitcpio/mkinitcpio.conf
    actions:
      - mkinitcpio
  #f_grub:
  #  dst: /etc/default/grub
  #  src: bootloaders/grub/grub.cfg
  #  actions:
  #    - grub-mkconfig
  d_systemd_boot:
    dst: /boot/loader
    src: bootloaders/systemd-boot
  d_openvpn:
    dst: /etc/openvpn
    src: openvpn

profiles:
  disconnect:
    dotfiles:
    - ALL
