config:
  backup: false
  banner: false
  create: true
  dotpath: ./dotfiles
  ignoreempty: false
  keepdot: false
  longkey: false
  showdiff: false
  workdir: ~/.dotfiles

dotfiles:
  f_lightdm:
    dst: /etc/lightdm/lightdm.conf
    src: lightdm/lightdm.conf
  f_lightdm-webkit2-greeter:
    dst: /etc/lightdm/lightdm-webkit2-greeter.conf
    src: lightdm/lightdm-webkit2-greeter.conf
  f_display-setup:
    dst: /usr/share/display-setup.sh
    src: scripts/display-setup.sh

profiles:
  disconnect:
    dotfiles:
    - f_lightdm
    - f_lightdm-webkit2-greeter
    - f_display-setup