config:
  backup: false
  banner: false
  create: true
  dotpath: dotfiles
  ignoreempty: false
  keepdot: false
  longkey: false
  showdiff: false
  workdir: /home/rappy/.dotfiles
  import_variables:
  - variables.yaml

actions:
  post:
    mkinitcpio: mkinitcpio -p linux
    grub-mkconfig: grub-mkconfig -o /boot/grub/grub.cfg

dotfiles:
  f_lightdm:
    dst: /etc/lightdm/lightdm.conf
    src: lightdm/lightdm.conf
  f_lightdm-webkit2-greeter:
    dst: /etc/lightdm/lightdm-webkit2-greeter.conf
    src: lightdm/lightdm-webkit2-greeter.conf
  f_display-setup:
    dst: /usr/share/lightdm/display-setup.sh
    src: scripts/display-setup.sh
  f_plymounth:
    dst: /etc/plymouth/plymouthd.conf
    src: plymouth/plymouthd.conf
  f_mkinitcpio:
    dst: /etc/mkinitcpio.conf
    src: mkinitcpio/mkinitcpio.conf
    actions:
      - mkinitcpio
  f_grub:
    dst: /etc/default/grub
    src: bootloaders/grub/grub.cfg
    actions:
      - grub-mkconfig
  d_systemd_boot:
    dst: /boot/loader
    src: bootloaders/systemd-boot

profiles:
  disconnect:
    dotfiles:
    - f_lightdm
    - f_lightdm-webkit2-greeter
    - f_display-setup
    - d_systemd_boot
