[Unit]
Description=i3 Window Manager
PartOf=default.target

[Service]
ExecStart=/usr/bin/i3
ExecStopPost=/bin/systemctl --user stop default.target
Restart=on-failure

#[Install]
#RequiredBy=xsession.target
#BindsTo=default.target
