[Unit]
Description=Picom
PartOf=graphical-session.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/picom -b -c --config %h/.config/picom/picom.conf

[Install]
WantedBy=graphical-session.target
