[Unit]
Description=Picom
PartOf=default.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/picom -b -c --config %h/.config/picom/picom.conf

[Install]
WantedBy=default.target
