[Unit]
Description=Redshift
PartOf=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/redshift

[Install]
WantedBy=default.target
