[Unit]
Description=Unclutter
PartOf=default.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/unclutter -b --ignore-scrolling --timeout 10 --jitter 10

[Install]
WantedBy=default.target
