################################################################################
##  Global WM                                                                 ##
################################################################################

[global/wm]
# Adjust the _NET_WM_STRUT_PARTIAL top value
#   Used for top aligned bars
margin-bottom = 0

# Adjust the _NET_WM_STRUT_PARTIAL bottom value
#   Used for bottom aligned bars
margin-top = 0
