################################################################################
##  Colors                                                                    ##
################################################################################

[colors]
primary = #6272A4
secondary = #BD93F9
foreground = #F8F8F2
background = #282A36
background-0 = #ee343646
background-1 = #ee282A36
alert = #FF5555
ordinary = #44475A
progress-1 = #55aa55
progress-2 = #557755
progress-3 = #f5a70a
progress-4 = #ff5555
