################################################################################
##  Module Info commit                                                        ##
################################################################################

[module/info-commit]
type = custom/script
exec = {{@@ _dotfile_abs_dst @@}}/scripts/info-commit.sh
interval = 60
label=%output%
label-foreground = ${colors.foreground}
format-prefix = " "
format-prefix-foreground = ${colors.alert}
