################################################################################
##  Module Powermenu                                                          ##
################################################################################

[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 1

label-open = 
label-open-foreground = ${colors.alert}
label-close = 
label-close-foreground = ${colors.alert}
label-separator = |
label-separator-foreground = ${colors.ordinary}

# Reboot
menu-0-0 = %{F#ffb52a}
menu-0-0-exec = reboot
# Power off
menu-0-1 = %{F#bd2c40}
menu-0-1-exec = poweroff
