[colors]
;background = ${xrdb:color0:#222}
background = #222222
background-transparent = #cc222222
background-transparent-1 = #bb222222
background-alt = #444
;foreground = ${xrdb:color7:#222}
foreground = #dfdfdf
foreground-alt = #555
primary = #6272A4
secondary = #44475A
alert = #FF5555