[module/pulseaudio-control]
type = custom/script
tail = true
label=%output%
;format-underline = ${colors.primary}

exec = {{@@ polybar_scripts_path @@}}/pulseaudio-control.sh --listen
click-right = exec pavucontrol &
click-left = {{@@ polybar_scripts_path @@}}/pulseaudio-control.sh --togmute
click-middle = {{@@ polybar_scripts_path @@}}/pulseaudio-control.sh --change
scroll-up = {{@@ polybar_scripts_path @@}}/pulseaudio-control.sh --up
scroll-down = {{@@ polybar_scripts_path @@}}/pulseaudio-control.sh --down
label-padding = 2
label-foreground = ${colors.foreground}
