[module/info-trash]
type = custom/script
exec = {{@@ _dotfile_abs_dst @@}}/scripts/info-trash.sh
interval = 60
label=%output%
label-foreground = ${colors.foreground}
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
click-left = {{@@ _dotfile_abs_dst @@}}/scripts/info-trash.sh --clean &