[module/updates-arch-combined]
type = custom/script
exec = {{@@ _dotfile_abs_dst @@}}/scripts/updates-arch-combined.sh
interval = 600
label=%output%
label-foreground = ${colors.foreground}
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}