[module/time]
type = internal/date
interval = 5

time = %H:%M
time-alt = %H:%M:%S

label=%time%
label-foreground = ${colors.foreground}
format-prefix = " "
format-prefix-foreground = ${colors.primary}