[module/pulseaudio-control]
type = custom/script
tail = true
label=%output%
;format-underline = ${colors.primary}

exec = {{@@ _dotfile_abs_dst @@}}/scripts/pulseaudio-control.sh --listen
click-right = exec pavucontrol &
click-left = {{@@ _dotfile_abs_dst @@}}/scripts/pulseaudio-control.sh --togmute
click-middle = {{@@ _dotfile_abs_dst @@}}/scripts/pulseaudio-control.sh --change
scroll-up = {{@@ _dotfile_abs_dst @@}}/scripts/pulseaudio-control.sh --up
scroll-down = {{@@ _dotfile_abs_dst @@}}/scripts/pulseaudio-control.sh --down
label-padding = 2
label-foreground = ${colors.foreground}
