[module/text]
type = custom/text
content = DISCONNECT

; "content" has the same properties as "format-NAME"
;content-background = ${colors.background}
content-foreground = ${colors.primary}

; "click-(left|middle|right)" will be executed using "/bin/sh -c $COMMAND"
;click-left = echo left
;click-middle = echo middle
;click-right = echo right

; "scroll-(up|down)" will be executed using "/bin/sh -c $COMMAND"
;scroll-up = echo scroll up
;scroll-down = echo scroll down