[module/eth-down]
type = internal/network
interface = {{@@ ethernet_interface @@}}
interval = 3.0

{%@@ if is_laptop == "true" @@%}
format-connected = <ramp-signal> <label-connected>
{%@@ else @@%}
format-connected = <label-connected>
{%@@ endif @@%}
;format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %downspeed%

format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
label-disconnected = disconnected
label-disconnected-foreground = ${colors.alert}

;ramp-signal-0 = 000
;ramp-signal-1 = 111
;ramp-signal-2 = 222
;ramp-signal-3 = 333
;ramp-signal-4 = 444
;ramp-signal-foreground = ${colors.foreground-alt}
