################################################################################
##  Module Info redshift temp                                                 ##
################################################################################

[module/info-redshift-temp]
type = custom/script
exec = {{@@ _dotfile_abs_dst @@}}/scripts/info-redshift-temp.sh
interval = 5
