[module/date]
type = internal/date
interval = 5

date = " %A - %e %B"
date-alt = " %Y-%m-%d"

label=%date%
label-foreground = ${colors.foreground}
format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}